//MIN
@media (min-width: 1700px) {
.main__background-text {
    top: 197px;
    right: 146px;
 }
}



//MAX
@media (max-width: 1700px) {
}

@media (max-width: 1400px) {
    .main__background-text {
        top: 197px;
        right: 146px;
     }

}

@media (max-width: 1400px) { 
    .main__background-text {
        right: 46px;
     }       
}

@media (max-width: 1199px) { 
    .pictures__one {
        max-width: 50%;
    }   
    .pictures__two {
        max-width: 50%;
    } 
    .pictures__three  {
        max-width: 50%;
    }       
    .product__slider-inner {
        text-align: center;    
     }
     .product__objects  {
         display: flex;
         flex-wrap: wrap;
         flex: 0 1 50%;
     }
}

@media (max-width: 1000px) {
    .main__background-text {
        top: 251px;
     }
     .items__title {
         text-align: center;
         color: #000;
     }
     .items__main {
         justify-content: center;
     }
     .about .about__advantages {
         padding-bottom: 0;   
     }
     .about__advantages {
         flex-wrap: wrap;
     }
     .about__advantages-block {
         padding-bottom: 50px;
     }
     .about button.more {
        width: 175px;
        height: 40px;
        margin-left: 0;
     }



    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__col {
        padding-left: 20px;
    }
    
}


@media (max-width: 885px) { 
    .footer__content .footer__inner  { 
        justify-content: center;
    }
    .footer__col {
        padding-left: 50px;
    }

    .footer__col:nth-child(4) {
        padding-top: 70px;
        padding-left: 0;
    }
    
}

@media (max-width: 752px) { 
    .main__background {
        min-height: 500px;
    }
    .main__background-text {
        top: 159px;
        width: 222.34px;
        height: 231.64px;
    }
    .main__background-text h2 {
        padding-top: 57px;
        padding-left: 25px;
        line-height: 36px;
        top: 282px;
        right: 102px;
        font-size: 25px;
        font-weight: 600;
    }
    .footer__col:nth-child(3) {
        padding-top: 40px;
        min-width: 53%;
    }
    .footer__col:nth-child(4) {
        padding-top: 40px;
    }
}

@media (max-width: 652px) { 
    .advantages-text {
        width: 300px;
    }
    .about .about__advantages-block:nth-child(4) {
        margin-left: 20px;
    }
    .pictures__one {
        max-width: 70%;
    }   
    .pictures__two {
        max-width: 70%;
    } 
    .pictures__three  {
        max-width: 70%;
    }  

    .footer__col:nth-child(3) {
        min-width: 60%;
    }
}

@media (max-width: 600px) { 
    .about .about__advantages-block {
        padding-right: 6px;
    }
}


@media (max-width: 583px) { 
    .items__main-block {
        width: 35%;
        height: 90px;
        padding-top: 0px;
    }
    .items__main-img img {
        width: 30px;
        height: 80px;
        padding-bottom: 10px;
    }
    .items__main-text{
        margin-top: -40px;
    }
 


    .about button.more {
        margin-left: 0;
    }
    .footer__col {
        display: none;
    }   
    .footer__col:nth-child(4) {
        display: block;
    }     
}

@media (max-width: 530px) { 
    .main__background-text {
        top: 212px;
        width: 269.34px;
        height: 80.64px;
        right: 20%;
        transform: rotate(-1deg);
    }
    .main__background-text h2 {
        text-align: center;
        line-height: 28px;
        padding-left: 0;
        width: 270px;
        padding-top: 0;
        font-size: 17px;
        transform: rotate(1deg);
    }
    .main__background {
        min-width: 320px;
        min-height: 320px;
    }

}

@media (max-width: 530px) { 
    .items__main-text {
        font-size: 12px;
    }
    .product__stock-block .block-stock__title {
        font-size: 18px;
    }
    .product__stock-block .block-showMore .show-all {
        font-size: 12px;
    }
}


@media (max-width: 480px) { 
    .slick-slide img {
        max-width: 300px;
    }
    .contacts-time {
        display: none;
    }

}

@media (max-width: 430px) { 
    .items__main-text {
        font-size: 10px;
    }
    .product__stock-block .block-showMore .show-all {
        color: $green;
    }
    .product__stock-block .block-stock__title {
        font-size: 14px;
    }
    .main__background-text {
        right: 15%;
    }
    .modal .modal__title {
        padding-top: 10px;
    }
    .modal .modal__reminder{
        justify-content: center;
    }
    .modal__reminder-input {
        padding-bottom: 15px;
        margin-left: 0;
        margin-right: 30px;
        padding-bottom: 10px;
    }
    .modal .modal__btn {
        padding-top: 30px;
    }
}

@media (max-width: 370px) {
    .items__main-text {
        font-size: 8px;
    }
    .main__background-text {
        right: 10%;
    }
    .slick-slide img {
        width: 260px;
    }
    .header__contacts-gps {
        display: none;
    }
    .header__main-logo {
        margin-top: -50px;
    }
    .header__contacts-info {
        margin-left: 50%;
    }

}

@media (max-width: 360px) {
    .product__stock-block .block-stock__title {
        font-size: 12px;
    }
}


@media (max-width: 350px) {
    .product__stock-block .block-showMore .show-all {
        font-size: 10px;
    }
}
